.clones {
  /* min-height: 2000px; */
  background: #111;
}
.clones:before {
  content: "Parallax";
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16em;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px #555;
}

.clones section {
  @apply relative flex justify-center items-center min-h-[100vh];
}
.clones section h2 {
  margin-left: 200px;
  font-size: 4em;
  color: #fff;
  margin-bottom: 20px;
}
.clones section .container {
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clones section .container .imgBx {
  position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
}
.clones section .container .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.clones section .container .content {
  position: absolute;
  right: 0;
  margin-top: 200px;
  margin-bottom: 40px;
  padding: 40px;
  background: #333;
  z-index: 1;
  max-width: 400px;
  color: #fff;
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
  border-bottom: 6px solid #4ac7ff;
}
.jarallax {
  height: 40vh;
}
