@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('navbar.css');
@import url('loader.css');
@import url('techStack.css');
@import url('clones.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer components {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif!important;
  }

body{
  min-height:2000px;
   background: #111;
}

  /* Progress bar css */

  #scrollpath {
    position: fixed;
    @apply top-0 right-0 w-[10px];
    background: rgba(255, 255, 255, 0, 0.05);
  }
  #progressbar {
    @apply fixed top-0 right-0 w-[10px] h-[0%];
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: scrollbarAnimate 5s linear infinite;
  }
  #progressbar:before,
  #progressbar:after {
    content: "";
    @apply absolute top-0 left-0 w-[100%];
        background: linear-gradient(to top, #008aff, #00ffe7);
        filter:blur(10px);
  }
  #progressbar:after{
         filter:blur(30px);
  }
  ::-webkit-scrollbar{
    width:0;
  }
  @keyframes scrollbarAnimate {
    0%,
    100% {
      filter: hue-rotate(0deg);
    }
    50% {
      filter: hue-rotate(360deg);
    }
  }
}